<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        p {text-align: center;}
        p{color: white}
    </style>

</head>
<body style="background-color:#272727;">

<p>Classic labyrinth, the goal is to get from point A to point B by moving the arrows.s <br>
A point it is player, B point it is treasure.<br>
The labyrinth version is for one player.<br>
To win chose a difficulty and passed three levels.<br>
Your settings mode won't affect on records table.<br>
Difficulty levels change rows and columns number with early defined player and treasure position.<br>
In your setting you can define player position, rows and columns number but not treasure.<br>
    Rows and columns number can't be more than 50.<br></p>
<div th:replace ="fragments/fragments::return_without_name"/>

</body>
</html>